body {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
}

#game,
#connection {
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 1rem;
  place-items: center;
}

#game,
#logs,
#game-over {
  display: none;
}

#game > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

#title h3,
#details > div,
#game-over > div {
  padding: 1rem;
  border-radius: 1rem;
}

#game-over {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

table {
  padding: 1rem;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  margin-top: 1rem;
}

table td {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  padding: 0.5rem;
}

.player {
  width: 20px;
  height: 20px;
}

.player-0::before {
  content: " ";
}

.player-1::before {
  content: "🟢";
}

.player-2::before {
  content: "🔴";
}

#arrows {
  padding: 1rem;
  gap: 1rem;
  margin: 0 auto;
  width: 16rem;
}

#logs {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 300px;
  max-width: 300px;
  padding: 1rem;
  overflow: auto;
  background-color: gray;
}

#logs > * {
  white-space: nowrap;
}

.shadow {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.shadow-button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 1rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.shadow-button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.shadow-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.shadow-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#input-name-player {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

#waiting {
  display: none;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  background-color: gray;
  width: 200px;
  height: 60px;
}

#waiting .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#waiting .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
#waiting .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
#waiting .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
#waiting .shadow-circle {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
#waiting .shadow-circle:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
#waiting .shadow-circle:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}